asgiref==3.7.2
certifi==2023.11.17
charset-normalizer==3.3.2
crypto==1.4.1
Django==5.0
idna==3.6
mysqlclient==2.2.0
Naked==0.1.32
python-dotenv==1.0.0
PyYAML==6.0.1
requests==2.31.0
shellescape==3.8.1
sqlparse==0.4.4
urllib3==2.1.0
