{% extends "form.html" %}

{% block title %}Login{% endblock title %}

{% block description %}Welcome back ...{% endblock description %}

{% block action %}/login/{% endblock action %}

{% block fields %}
  <div class="mb-3">
    <input type="text" name="username" class="form-control" placeholder="Username or Email" required/>
  </div>
  <div class="mb-3">
    <input type="password" name="password" class="form-control" placeholder="Password" required/>
  </div>
  <div class="flex justify-between align-middle">
    <input type="submit" value="Login" class="btn btn-primary"/>
    <div>
      Don't have an account?
      <a href="/register/">
        Register
      </a>
    </div>
  </div>
{% endblock fields %}

{% block footer %}
  <div class="mt-3">
    What is
    <a href="https://jurnal.polinema.ac.id/index.php/jip/article/view/2558/2015" target="_blank">
      Asymmetric Algorithm?
    </a>
  </div>

  {% if request.GET.login_status == "BAD" %}
    <div class="container mt-3 border-1 border-black bg-warning-subtle p-4 rounded">
      <p class="fs-6 text-secondary-emphasis text-center m-0">
        Either it's server's fault or you entered a dirty data. Please try again.
      </p>
    </div>
  {% endif %}

  {% if request.GET.login_status == "WRONG_PASSWORD" %}
    <div class="container mt-3 border-1 border-black bg-warning-subtle p-4 rounded">
      <p class="fs-6 text-secondary-emphasis text-center m-0">
        Wrong password. Please try again.
      </p>
    </div>
  {% endif %}

  {% if request.GET.login_status == "USER_DOES_NOT_EXIST" %}
    <div class="container mt-3 border-1 border-black bg-warning-subtle p-4 rounded">
      <p class="fs-6 text-secondary-emphasis text-center m-0">
        The User you entered, is not registered in the database.
      </p>
    </div>
  {% endif %}

  {% if request.GET.registration_status == "BAD" %}
    <div class="container mt-3 border-1 border-black bg-danger-subtle p-4 rounded">
      <p class="fs-6 text-secondary-emphasis text-center m-0">
        Registration failed. Please fill the data properly and try again.
      </p>
    </div>
  {% endif %}

  {% if request.GET.registration_status == "OK" %}
    <div class="container mt-3 border-1 border-black bg-primary-subtle p-4 rounded">
      <p class="fs-6 text-secondary-emphasis text-center m-0">
        Registration successful. Please login with said account.
      </p>
    </div>
  {% endif %}
{% endblock footer %}