{% extends "core.html" %}
{% load static %}

{% block title %}RSA Encrypt{% endblock title %}

{% block content %}


{% include "sidebar.html" %}

<main class="p-4 md:ml-64">
    <div class="p-4 rounded-lg ">
        <div class="grid lg:grid-cols-2 gap-4">
            <div class="flex justify-center rounded bg-gray-100 dark:bg-gray-800 font-medium shadow shadow-black">
                <div class="w-full p-1">
                    <div class="flex justify-center text-2xl text-white bg-slate-700 w-full h-fit px-3 py-2">
                        <i class="fa-solid fa-key"></i>
                        GENERATE KEY RSA
                    </div>
                    <form method="post" id="formEncrypt">
                        {% csrf_token %}
                        <div class="flex flex-col justify-center">
                            <table class="table-auto justify-center">
                                <tbody>
                                    <tr class="">
                                        <td class="p-2 text-right">p</td>
                                        <td class="p-2">:</td>
                                        <td class="p-2">
                                            <input type="number"
                                                class="max-xl:w-20 px-2 py-1 font-normal bg-gray-300 dark:bg-gray-500"
                                                disabled placeholder=" " id="p" />
                                        </td>
                                        <td class="p-2 text-gray-700 dark:text-white">Bil. Prima</td>
                                    </tr>
                                    <tr>
                                        <td class="p-2 text-right">q</td>
                                        <td class="p-2">:</td>
                                        <td class="p-2">
                                            <input type="number"
                                                class="max-xl:w-20 px-2 py-1 font-normal bg-gray-300 dark:bg-gray-500"
                                                disabled placeholder=" " id="q" />
                                        </td>
                                        <td class="p-2 text-gray-700 dark:text-white">Bil. Prima</td>
                                    </tr>
                                    <tr>
                                        <td class="p-2 text-right">n</td>
                                        <td class="p-2">:</td>
                                        <td class="p-2">
                                            <input type="text"
                                                class="max-xl:w-20 px-2 py-1 font-normal bg-gray-300 dark:bg-gray-500"
                                                placeholder=" " id="n" disabled />
                                        </td>
                                        <td class="p-2 text-gray-700 dark:text-white">(p * q)</td>
                                    </tr>
                                    <tr>
                                        <td class="p-2 text-right">m</td>
                                        <td class="p-2">:</td>
                                        <td class="p-2">
                                            <input type="text"
                                                class="max-xl:w-20 px-2 py-1 font-normal bg-gray-300 dark:bg-gray-500"
                                                placeholder=" " id="m" disabled />
                                        </td>
                                        <td class="p-2 text-gray-700 dark:text-white">(p - 1) * (q - 1)</td>
                                    </tr>
                                    <tr>
                                        <td class="p-2 text-right">e</td>
                                        <td class="p-2">:</td>
                                        <td class="p-2">
                                            <input type="text"
                                                class="max-xl:w-20 px-2 py-1 font-normal bg-gray-300 dark:bg-gray-500"
                                                placeholder=" " id="e" disabled />
                                        </td>
                                        <td class="p-2 text-gray-700 dark:text-white">e > 1 and GCD(m,e) = 1</td>
                                    </tr>
                                    <tr>
                                        <td class="p-2 text-right">d</td>
                                        <td class="p-2">:</td>
                                        <td class="p-2">
                                            <input type="text"
                                                class="max-xl:w-20 px-2 py-1 font-normal bg-gray-300 dark:bg-gray-500"
                                                placeholder=" " id="d" disabled />
                                        </td>
                                        <td class="p-2 text-gray-700 dark:text-white">(d * e) mod m = 1</td>
                                    </tr>
                                    <tr>
                                        <td class="p-2 text-right">Key RSA</td>
                                        <td class="p-2">:</td>
                                        <td class="p-2">
                                            <input type="text"
                                                class="max-xl:w-20 px-2 py-1 font-normal bg-gray-300 dark:bg-gray-500"
                                                placeholder=" " id="keyRSA" disabled />
                                        </td>
                                        <td class="p-2 text-gray-700 dark:text-white">(d * e) mod m = 1</td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="flex w-full justify-center py-3">
                                <button type="button" id="regenerate"
                                    class="text-white bg-gradient-to-r from-green-400 via-green-500 to-green-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-green-300 dark:focus:ring-green-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2">Re-Generate
                                    Key</button>
                                <button type="submit"
                                    class="text-white bg-gradient-to-r from-red-400 via-red-500 to-red-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-red-300 dark:focus:ring-red-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2">Encrypt
                                    Proccess</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="flex justify-center rounded bg-gray-100 dark:bg-gray-800 font-medium">
                <div class="w-full p-1">
                    <div
                        class="flex justify-center text-2xl text-white bg-slate-700 w-full h-fit px-3 py-2 gap-1 items-center">
                        <i class="fa-solid fa-lock"></i>
                        ENCRYPT TEXT
                    </div>
                    <div class="flex flex-col gap-2 p-2 justify-center">
                        <div>
                            <label for="plaintext"
                                class="block py-2 px-1 text-sm font-medium text-gray-900 dark:text-white">Plaintext</label>
                            <textarea id="plaintext" rows="7" form="formEncrypt"
                                class="block p-2.5 w-full text-sm font-normal text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                placeholder="Write your text here..."></textarea>
                        </div>
                        <div>
                            <label for="chipertext"
                                class="block py-2 px-1 text-sm font-medium text-gray-900 dark:text-white">Chipertext</label>
                            <textarea id="chipertext" rows="7"
                                class="block p-2.5 w-full text-sm font-normal text-gray-900 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                placeholder="   " disabled></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock content %}


{% block script %}
<script type="text/javascript" src="{% static 'scripts/rsa_encrypt.js' %}"></script>
{% endblock script %}